<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/public/site.css">
</head>
<body>
    <a href="/">Home</a><br>
    <a href="/dogs">Dogs</a><br>

    <a href="/login">Login</a><br>
    <a href="/signup">Signup</a><br>

    <a href="/profile">Profile</a><br>
    <a href="/dog/1">Single Dog</a><br>
    <a href="/dog/add">Add a Dog</a><br>


    {{{ body }}}
</body>
</html>