<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/public/site.css">
</head>
<body>
    <a href="/">Home</a>
    <a href="/dogs">Dogs</a>

    <a href="/login">Login</a>
    <a href="/signup">Signup</a>

    <a href="/profile">Profile</a>
    <a href="/dog/1">Single Dog</a>


    {{{ body }}}
</body>
</html>