{{!-- <h1>{{ title }}</h1> --}}
<main>
  <h1>uptade avatar</h1>
  <form method="post" action="/updateUserAvatar" enctype="multipart/form-data">
    <input type="file" name="avatar" accept="image/*">
    <button type="submit">uptade avatar</button>
  </form>
  {{#if error}}
    <p class="error">{{ error }}</p>
  {{/if}}
</main>