.footer.has-cards {
    margin-top: -525px;
}

.btn-delete-photo {
    display: none;
    right: 15px;
    top: 10px;
    z-index: 99;
}

.dog-img-container:hover .btn-delete-photo{
    display: block;
}

.btn-delete-dog {
    display: none;
    right: 15px;
    top: 10px;
    z-index: 99;
}

.dog-container:hover .btn-delete-dog{
    display: block;
}

.avatar {
    width: 100%;
    height: auto;
}

.single-comment {
    padding: 0 30px 0 10px;
    margin: 30px 0;
}

.single-comment .comment-content {
    margin-bottom: 8px;
    padding: 20px 35px;
    background: #e7f0ff;
    border-radius: 15px;
    margin-left: 16px;
}

.single-comment .comment-content p {
    color: #333;
    padding : 0px;
    margin: 0px;
}

.single-comment .comment-data {
    padding: 0px;
    margin: 0px;
}

.single-comment .comment-date {
    font-size: 12px;
}

#comment-form textarea {
    margin: 10px 0;
}
