<h1>{{ title }}</h1>
<main>
    <p>This website will search through the people.json dataset. It will return up to 20 matching persons, where either the first name or last name contains the provided keyword.</p>
    <form action="/search" method="POST">
        <label for="search">Keyword: </label>
        <input id="search" name="personName">
        <button type="submit">Search</button>
    </form>
    {{#if error}}
    <p class="error">{{ error }}</p>
    {{/if}}
</main>